

.header {
  background-color: rgb(68, 68, 68);
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  color: #f0f0f0;
  margin-bottom: 50px;
  max-width: 100%;
}

body {
  margin: 0;
  background-color: rgb(68, 68, 68);
}